body {
    background: #f2f4f8
}

header {
    height: .8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    position: relative
}

header .head-c-left {
    line-height: .8rem
}

header .head-c-left a {
    margin-left: .3rem
}

header .head-c-left a img {
    width: .18rem;
    height: .34rem;
    vertical-align: middle
}

header h1 {
    max-width: 50%;
    font-size: .36rem;
    height: .88rem;
    color: #333;
    font-weight: 500;
    white-space: nowrap;
    line-height: .88rem;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 50%;
    margin-left: -.88rem
}





.needPay {
    border-top: .01rem solid #aaa;
    height: 2rem;
    text-align: center;
    background: #fff
}

.needPay h1 {
    font-size: .3rem;
    color: #999;
    height: .9rem;
    line-height: .9rem
}

.needPay h2 {
    font-size: .6rem;
    color: #f08200;
    height: .9rem;
    line-height: .9rem
}

.needPay h2 span {
    font-size: .6rem
}

.howPay h2 {
    font-size: .28rem;
    color: #666;
    margin-left: .3rem;
    margin-top: .3rem;
    height: .76rem
}

.howPay .Balance-payment {
    background: #fff
}

.howPay .Balance-payment .payment {
    margin-left: .3rem;
    height: .96rem;
    line-height: .96rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid #eee;
    position: relative
}

.howPay .Balance-payment .payment div:first-child {
    margin-right: .2rem
}

.howPay .Balance-payment .payment div:first-child img {
    vertical-align: middle
}

.howPay .Balance-payment .payment .pay-content {
    color: #333;
    font-size: .3rem
}

.howPay .Balance-payment .payment .paySure {
    position: absolute;
    right: .3rem
}

.howPay .Balance-payment .payment .paySure img {
    vertical-align: middle
}

.payOk {
    display: block;
    position: fixed;
    bottom: 0;
    width: 7.5rem;
    height: 1rem;
    background: #f08200;
    color: #fff;
    font-size: .32rem;
    text-align: center;
    line-height: 1rem
}

.mask {
    opacity: 1;
    visibility: visible;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6)
}

.mask {
    display: none
}

.dialog1,
.dialog2,
.dialog3 {
    display: none
}

.dialog {
    visibility: visible;
    transform: scale(1) translate(-50%, -50%);
    -moz-transform: scale(1) translate(-50%, -50%);
    -webkit-transform: scale(1) translate(-50%, -50%);
    -o-transform: scale(1) translate(-50%, -50%);
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    margin: 0 auto;
    top: 45%;
    z-index: 2;
    position: fixed;
    width: 5rem;
    left: 50%;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    overflow: hidden
}

.dialog1 {
    z-index: 3
}

.dialog__hd {
    height: .82rem
}

.dialog__title {
    font-weight: 500;
    font-size: .34rem;
    padding-top: .3rem;
    padding-bottom: .2rem
}

.dialog__bd {
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-size: .28rem;
    color: #676767
}

.dialog__ft {
    position: relative;
    line-height: 48px;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: .01rem solid #e3e0e0
}

.dialog__btn_miss {
    color: #5f646e;
    display: block;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
    -o-flex: 1;
    position: relative;
    cursor: auto;
    text-decoration: none;
    border-right: .01rem solid #e3e0e0
}

.dialog__btn_sure {
    color: #f08200;
    display: block;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
    -o-flex: 1;
    position: relative;
    cursor: auto;
    text-decoration: none;
    border-left: .01rem solid #e3e0e0
}

.dialog2 {
    width: 5.7rem
}

.dialog__hd2 {
    position: relative;
    height: 1rem
}

.dialog__hd2 p {
    font-size: .34rem;
    padding: 0;
    line-height: 1rem
}

.dialog__hd2 img {
    width: .24rem;
    position: absolute;
    top: 50%;
    margin-top: -.12rem;
    left: .3rem;
    vertical-align: middle
}

.dialog__bd2 {
    border-top: .01rem solid #f18200;
    margin: 0;
    height: 1.44rem;
    line-height: 1.44rem;
    font-size: .44rem;
    font-weight: 700;
    color: #333
}

.dialog__ft2 {
    width: 4.78rem;
    margin: 0 auto
}

.dialog__ft2 .ipt-box-nick {
    height: .84rem;
    position: relative
}

.dialog__ft2 .ipt-box-nick .ipt-real-nick {
    border: 1px solid red;
    height: .9rem;
    position: absolute;
    z-index: 11;
    left: -100%;
    width: 4.78rem;
    height: .8rem;
    opacity: 0
}

.dialog__ft2 .ipt-box-nick .moni {
    border: 1px solid red;
    height: .9rem;
    position: absolute;
    z-index: 11;
    left: 0;
    width: 4.78rem;
    height: .8rem;
    opacity: 0
}

.dialog__ft2 .ipt-box-nick .ipts-box-nick {
    height: .8rem;
    border: 1px solid #D7D7D7;
    position: absolute;
    left: 0;
    z-index: 5
}

.dialog__ft2 .ipt-box-nick .ipts-box-nick .ipt-fake-box input {
    text-align: center;
    float: left;
    border-right: 1px solid #D7D7D7;
    width: .77rem;
    border-radius: 0;
    font-size: .7rem
}

.dialog__ft2 .ipt-box-nick .ipts-box-nick .ipt-fake-box input:last-child {
    border-right: none
}

.dialog__ft2 .setPassword {
    height: .92rem;
    width: 4.92rem;
    margin: 0 auto;
    position: relative
}

.dialog__ft2 .setPassword a {
    position: absolute;
    line-height: .92rem;
    right: 0
}
